#.gcloudignore
# 'vendor/**' with 'vendor/**!*.go' doesn't work so enumerate all types we don't need.
vendor/**.md
vendor/**.txt
vendor/**.yaml
vendor/**Makefile
vendor/**.sh
vendor/**.tmpl
vendor/**.gitignore
vendor/**.lock
vendor/**LICENSE
cmd/**